<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.ge">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.tabmain.MaintabActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.start.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.start.CustomSplashActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ui.setting.PersonalCenterActivity"
            android:label="个人中心"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.course.ClassifyCourseListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.task.TaskDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.task.PathListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.RankActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.LearningSummaryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.CommonWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.CourseWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.PathWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.ExamWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.NewsWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.webview.QuestionnaireWebActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.course.CourseTypeAllActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.course.CourseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.news.NewsListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.FindPasswordVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.SetNewPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.ChangePersonalDataActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="201cb9059ff5c" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="19a4dc01abfb7cbdd6f4f90b1f51a0df" />
    </application>

</manifest>